@using WebApplication2.Models;
@model IEnumerable<WebApplication2.Models.Movie>

@{
    ViewBag.Title = "Melancholic";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            <h3> @Html.DisplayNameFor(model => model.Name)</h3>
        </th>
        <th>
            <h3>  @Html.DisplayNameFor(model => model.Description)</h3>
        </th>
        <th>
            <h3>  @Html.DisplayNameFor(model => model.Link)</h3>
        </th>
        <th>
            <h3>  @Html.DisplayNameFor(model => model.Mood_ID)</h3>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                <b> @Html.DisplayFor(modelItem => item.Name)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/@item.Link" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mood_ID)
            </td>

           
        </tr>
    }

</table>






