@using WebApplication2.Models;
@model WebApplication2.Models.Movie

@{
    ViewBag.Title = "RandomMelancholic";
}

<h2>Random Melancholic</h2>


<table class="table">
    <tr>
        <th>
            <h3> @Html.DisplayNameFor(model => model.Name)</h3>
        </th>
        <th>
            <h3>  @Html.DisplayNameFor(model => model.Description)</h3>
        </th>
        <th>
            <h3>  @Html.DisplayNameFor(model => model.Link)</h3>
        </th>
        <th>
            <h3>  @Html.DisplayNameFor(model => model.Mood_ID)</h3>
        </th>
        <th></th>
    </tr>

    

        <tr>
            <td>
                <b> @Html.DisplayFor(modelItem => Model.Name)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Description)
            </td>
            <td>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/@Model.Link" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Mood_ID)
            </td>

           
        </tr>
    

</table>






