@using WebApplication2.Models;
@model IEnumerable<WebApplication2.Models.Song>

<script src="https://www.youtube.com/iframe_api"></script>

<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>


@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h3>@Html.DisplayNameFor(model => model.Name)</h3>
        </th>
        <th>
            <h3> @Html.DisplayNameFor(model => model.Artist)</h3>
</th>
        <th>
            <h3>  @Html.DisplayNameFor(model => model.Link)</h3>
</th>
        <th>
            <h3> @Html.DisplayNameFor(model => model.Mood_ID)</h3>
</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <b> @Html.DisplayFor(modelItem => item.Name)</b>
</td>
        <td>
            <b>  @Html.DisplayFor(modelItem => item.Artist)</b>
</td>
        <td>
            <iframe title="YouTube video player" width="425" height="25" src="http://www.youtube.com/embed/@item.Link" frameborder="0" allowfullscreen></iframe>

           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mood_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>


<div>
    <button class="btn btn-default" onclick="location.href='/Users/Menu'">Return to Menu</button>
</div>


<script src="https://www.youtube.com/iframe_api"></script>

<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>